.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.highlight {
  font: var(--subtitle);
  color: var(--red);
}

.text-sm {
  font: var(--text-sm);
  color: var(--gray-400);
}

.text-md {
  font: var(--title-md);
  color: var(--gray-600);
}

.subtitle {
  font: var(--subtitle);
}
