* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f5f4f0;
  font-size: 1.6rem;
  color: #1b1b1b;
}

#page {
  box-sizing: border-box;
  margin: auto;
  padding: 0px 9.4rem;
  max-width: 1120px;
}

#highlight img {
  border-radius: 28px;
  width: 100%;
  background-position: center;
}

.description {
  font-size: 1.6rem;
  margin: 4rem;
  text-align: center;
  font-style: italic;
}

.headline {
  color: #e1624f;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;

  margin-top: 9rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

#places img {
  width: 100%;
  max-height: 350px;
  border-radius: 28px;
  margin-top: 4rem;
}

#places {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4rem;
}

#places h1 {
  margin-bottom: 1rem;
}

#places h1 + p {
  margin-bottom: 6.4rem;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 + p {
  margin-bottom: 2rem;
}

li {
  margin-left: 4rem;

  font-weight: bold;
}

.cat1 {
  color: #e95e10;
}

.cat2 {
  color: #e5245e;
}

.cat3 {
  color: #591b98;
}

.cat4 {
  color: #0c51a7;
}

article:last-child {
  margin-bottom: 5rem;
}

#places + p {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.3rem;
  color: #333333;
  font-weight: bold;
}
